h1{
    position: relative;
    text-align: center;
    top: 100px;
    font-style: "Roboto"; 
    font-size: 48px;
}
img{
    position: relative;
    border-radius: 5%;
    margin: 20% 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px; 
}
img:hover{
    opacity: 80%;
    border-radius: 5%;
}
