header{
    width: 1350px;
    height: auto;
    text-align: center;

}
#vi2{
    position: relative;
    text-align: center;
    padding: 10px;
    /*margin-left: 480px;
    margin-right: 60%;*/    
    width: 30%;
    height: 30%;
}
h1{  
    font-family: Roboto;
    font-size: 26;
    font-weight: 500;
    color: #bdbdbd;
}
body{
    background-color: #121212;
}
#options {
    position: relative;
    letter-spacing: 3px;
    font-weight: 600;
    display: inline-block;
    text-align: center;
    font-size: 22px;
    /*left: 430px;*/
    margin: 20px;
    font-family: Roboto;
    cursor: pointer;
    color: #bdbdbd;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
}

#optionsBike {
    display: none;
}

#options:hover{
    color: #121212;
    background: #5a88d7; 
}
#formLink{
    text-decoration: none;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 500;
    color: #1155cc;
}
#textLink{
   
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 500;
    color: #bdbdbd;
    margin-bottom: 10px;
    text-align: center;
    /*margin-left: 100px;*/
}

/*smartphone*/

@media screen and (max-width:1024px){
    header{
        width: auto;
    }
    #vi2{
        margin-top: 50px;
        width: 30%;
        height: 30%;
    }
    #options{
        flex-wrap: nowrap;
        padding: 5px;
        margin: 10px;
    }
    #textLink{
        flex-wrap: wrap;
        position: relative;
        padding: 40px auto;
        margin: 40px;
    } 
}