header{
    width: 500px;
    height: auto;
    text-align: center;

}
#vi2{
    position: relative;
    text-align: center;
    padding: 10px;
    margin-top: 50px;
    width: 40%;
    height: 40%;
}
h1{
    
    font-family: Roboto;
    font-size: 26;
    font-weight: 500;
    color: #bdbdbd;
}
body{
    background-color: #121212;
}
#options{
    position: relative;
    letter-spacing: 3px;
    font-weight: 600;
    display: inline-block;
    text-align: center;
    font-size: 22px;
    /*left: 430px;*/
    margin: 20px;
    font-family: Roboto;
    cursor: pointer;
    color: #bdbdbd;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
}
#options:hover{
    color: #121212;
    background: #5a88d7; 
}
#formLink{
    text-decoration: none;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 500;
    color: #1155cc;
}
#textLink{
    position: relative;
    text-decoration: none;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 500;
    color: #bdbdbd;
    top: 90px; 
    text-align: center;
    /*margin-left: 100px;*/
}