body{ 
    background-color: #121212;
    color: #bdbdbd;
    text-align: center;
    font-family: Roboto;
    font-size: 26;
    font-weight: 500;
}
.container{
    display: flex;
    max-width: 100%;
    width: 350px;
    height: 400px;
    padding: 10px;
    margin: 50px auto;
    border: 10px solid #b0195e;
    border-radius: 20%;

}