body{ 
    background-color: #121212;
    color: #bdbdbd;
    text-align: center;
    font-family: Roboto;
    font-size: 26;
    font-weight: 500;
}
#form{
    position: relative;
    letter-spacing: 3px;
    font-weight: 600;
    text-align: center;
    font-size: 22px;
    /*left: 430px;*/
    margin: 20px;
    font-family: Roboto;
    cursor: pointer;
    color: #bdbdbd;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
}
#form:hover{
    color: #121212;
    background: #5a88d7; 
}
.container{
    display: flex;
    max-width: 100%;
    width: 350px;
    height: 400px;
    padding: 10px;
    margin: 50px auto;
    border: 10px solid #b0195e;
    border-radius: 20%;

}