@font-face {
  font-family: 'fonte';
  src: url('../Fontes/Gorditas-Regular.ttf')/*Para navegadores Internet Explorer*/;
  font-weight: normal;
  font-style: normal;}
  @font-face {font-family: 'fonte';
    src: url('../Fontes/Gorditas-Regular.ttf') /*Para os demais navegadores*/;
    font-weight: normal;
    font-style: normal;
}
html, body{
	width:100%;
	height: 100%;
}

#video{
  width: 100%; 
  height: 100%;
  text-align: center;
  position: absolute; 
  left: 0; 
  top: 0; 
}
#speed-button {
  font-size: 150%;
}

.rectangle{
  width:60%;
  height:110px;
  opacity: 80%;
  z-index: 1;
  top:0;
  margin-left: auto;
  margin-right: auto; 
  background: rgba(45, 156, 219, 0.5);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;

  font-size: 28px;
  font: Gorditas;
  line-height: 24px;
  letter-spacing: 2%;

  align-items: center; 
  justify-content: space-between;          
  display: flex;
  flex: 1;
  flex-flow: row wrap;
  padding: 20px;  
}

.rectangleRigth{
  width: 15%;
  height: 35%;
  opacity: 80%;
  z-index: 1;
  float: right;

  margin-top: auto;
  margin-bottom: auto;
  background: rgba(45, 156, 219, 0.5);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;

  font-size: 28px;
  font: Gorditas;
  line-height: 24px;
  letter-spacing: 2%;
  color: #F4F6FB;

  align-items: center; 
  justify-content: space-between;          
  display: flex;
  flex-direction: column;
  padding: 10px;  
}

.closeButton{
  width: 15%;
  height: 6%;
  opacity: 80%;
  z-index: 1;
  top: 80%;
  position: absolute;

  font-size: 26px;
  font: Gorditas;
  line-height: 24px;
  letter-spacing: 2%;
  color: #F4F6FB;
  text-align: center;

  float: right;
  margin-left: 84%;
  background: #FF645C;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 10px;  
}
.closeButton:hover{
  opacity: 100%;
}
#progress{
  height: 35%;
  width: 100%;
}
/* cor de background da barra */
#progress::-webkit-progress-bar {
  background-color: #fff
}
/* cor de background do valor de progresso */
#progress::-webkit-progress-value {
  background: rgba(45, 156, 219, 0.5);
}
#progress::-moz-progress-bar {
  background: rgba(45, 156, 219, 0.5);
}
@media screen and (min-height: 280px) and (max-width:850px) and (orientation:landscape){
  #overlayDesktop{
    display: none;
  }
  #video{
    width: 100%;
    height: 100%;
  }
  .rectangle{
    width: 50%;
    height: 15%;
    font-size: 20px;

  }
  .rectangleRigth{
    width: 20%;
    height: 35%;
    font-size: 20px;

  }

}
/*smartphone vertical */
@media screen and (max-width:800px) and (orientation:portrait){
  .rectangle{
    display: none;
   }
  .rectangleRigth{
    display: none;
   }
  #video{
    display: none;
  }
}
/*tablet*/
@media screen and (max-width:980px) and (orientation:portrait){

  #video{
    height: 400px;
    z-index: -1;
  }
  .rectangle{
    width: 100%;
    top: 450px;
    height: 40%;
    margin-top: 20px; 
   }
}
@media screen and (min-width:980px){
  #overlayDesktop{
    display: none;
  }
}
@media screen and (max-height: 100%) and (orientation:portrait){
  #video{
    z-index: -1;
  }
  .rectangle{
    width: 100%;
    height: 40%;
   }
}
